# GEMINI_API_KEY
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL
APP_URL="MY_APP_URL"

# Email configuration
EMAIL_PROVIDER="resend"
EMAIL_FROM="no-reply@your-domain.example"

# Backend API URL
VITE_API_URL="https://learnx-backend-ebr9.onrender.com/api"